<%- include('partials/header'); -%>
<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Title</label>
    <input type="text" class="form-control" name="postTitle" />
  </div>
  <div style="margin-bottom: 15px" class="mb-3">
    <label class="form-label">Post</label>
    <textarea
      class="form-control"
      name="postBody"
      cols="30"
      rows="10"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Publish</button>
</form>
<%- include('partials/footer'); -%>
